<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css" />
  </head>
  <body>
    <div id="login-form">
      <h2>User Login</h2>
      <form id="login-form">
        <label for="login-username">Username:</label>
        <input
          type="text"
          id="login-username"
          name="login-username"
          required
        /><br /><br />

        <label for="login-password">Password:</label>
        <input
          type="password"
          id="login-password"
          name="login-password"
          required
        /><br /><br />

        <button type="submit">Login</button>
      </form>
    </div>
    <script src="../scripts/login.js"></script>
  </body>
</html>
