<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz-APP</title>
    <link rel="stylesheet" type="text/css" href="../styles/quiz.css" />
  </head>
  <body>
    <div class="container">
      <div class="quiz-header">
        <h1>Quiz Project</h1>
        <div id="time-display">Time: <span id="time-left">00:00</span>s</div>
        <div id="score-display">
          Question: <span id="current-score">0</span>/<span id="total-score"
            >60</span
          >
        </div>
      </div>

      <div class="quiz-container">
        <h2 class="question-header">The Sample Question</h2>
        <div id="question-body">
          <p id="multiple">This a multiple choice question</p>
          <div id="answer-btns">
            <button class="answer-btn">Option 1</button>
            <button class="answer-btn">Option 2</button>
            <button class="answer-btn">Option 3</button>
            <button class="answer-btn">Option 4</button>
            <button class="answer-btn">Option 5</button>
            <button class="answer-btn">Option 6</button>
          </div>
        </div>
        <button id="next-btn">Next</button>
      </div>
    </div>
    <script src="../scripts/quiz.js"></script>
  </body>
</html>
