<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALX Quiz App</title>
    <link rel="stylesheet" type="text/css" href="../styles/quiz.css" />
    <link rel="stylesheet" type="text/css" href="../styles/profile.css" />
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body>
    <div class="container">
      <header class="profile-header">
        <img
          src="./images/profilebg.png"
          alt="Profile background"
          class="profile-bg"
        />
        <div class="profile-info">
          <img
            src="./images/avatar-placeholder.png"
            alt="User avatar"
            class="profile-avatar"
          />
          <h1 id="username">User</h1>
        </div>
      </header>
      <div class="quiz-header">
        <h1>ALX Quiz App</h1>
        <div id="time-display">Time: <span id="time-left">00:00</span></div>
        <div id="score-display">
          Question: <span id="current-question">0 / </span>
          <span id="total-question">0</span>
        </div>
      </div>

      <div id="quiz-container" class="quiz-container">
        <!--style="display: none"-->
        <h2 id="question-header" class="question-header"></h2>
        <div id="question-body">
          <p id="multiple" class="instruction">
            This is a multiple choice question
          </p>
          <div id="answer-btns" class="answer-btns"></div>
        </div>
        <div id="loading" class="loading">
          <div class="spinner"></div>
          <p>Loading quiz...</p>
        </div>
        <div class="main-btns">
          <button id="next-btn" type="button" class="btn btn-primary">
            Next
          </button>
          <button id="last-quiz-btn" type="button" class="btn btn-secondary">
            Show Quiz Result
          </button>
          <button id="profile" type="button" class="btn btn-tertiary">
            Go to Profile
          </button>
        </div>
      </div>
    </div>
    <script src="../scripts/quiz.js"></script>
    <script src="../scripts/hedaer.js"></script>
  </body>
</html>
