* {
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* display: flex;
  align-items: center; */
  background-color: beige;
  font-family: curvy;
}
#main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#quiz-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.answer-btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.correctAnswer {
  background-color: #9aeabc;
}
.wrongAnswer {
  background-color: #ff9393;
  background-color: #add8e6;
}
#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
}
